.row::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col1 {
  float: left;
  width: 25%;
}

.col2 {
  float: left;
  width: 75%;
}

.col3 {
  float: left;
  width: 3%;
}

.col4{
  float: left;
  width: 97%;
}

#rcorners1 {
  border-radius: 20px;
  background: lavender;
  padding: 0px; 
  width: 200px;
  height: 153px;  
}

.spaced-text {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  color: lavender;
  text-align: center;
}


/*navigation bar*/

li a{
  display: block;
  width: 200px;
  color: black;
  padding: 8px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: lavender;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: lavender;
}