.row::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col1 {
  float: left;
  width: 20%;
  background-color: #ffcddd;
  border-radius: 10%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

.col2 {
  float: left;
  width: 80%;
}

.col3 {
  float: left;
  width: 3%;
}

.col4{
  float: left;
  width: 97%;
}

#rcorners1 {
  border-radius: 20px;
  padding: 0px;
  width: 220px;         /* Make the border box a bit bigger */
  height: auto;
  margin: 0 auto;       /* Center the border horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center the list items inside */
  background-color: #ffcddd;
}

.spaced-text {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  color: lavender;
  text-align: center;
}


/*navigation bar*/

li a{
  display: block;
  width: 160px;
  color: #785ce4;
  padding: 8px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff1d61;
  color: white;
  border-radius: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: white;
}

.circle-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ff1d61;
    box-shadow: 0 2px 8px rgba(120,92,228,0.15);
}